@charset "UTF-8";
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// .navbar {
//   background-color: $background;
//   color: $whiteish;
// }

// .navbar-light .navbar-brand {
//   color: $whiteish;
// }

// .navbar-light .navbar-nav .nav-link {
//   color: $whiteish;
// } 

.tweets-container {
  max-width: 60%;
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  border: 3px solid $whiteish;
  .tweet-header {
    margin-right: auto;
    margin-left: auto;
  }
  
  .tweet-content {
    margin-right: auto;
    margin-left: auto;
    min-height: 50px;
  }
}


